extends layout
 
block content
  h1= title
  form(id='mineralsForm', action="/resource/minerals" , method="POST")
    div.form-group
      label.mineralsAttr(for='Mineral_name') Mineral Name
      input#Mineral_name(type='text', name='Mineral_name', class='form-control')
    div.form-group
      label.mineralsAttr(for='length') Mineral Color
      input#Color(type='text', name='Color', class='form-control')
    div.form-group
      label.mineralsAttr(for='Hardness_level') Hardness_level
      input#Hardness_level(type='number', name='Hardness_level', class='form-control')
    input(type="submit", class='btn btn-primary')
    script.
      document.forms['mineralsForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeeded");
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Save failed " + error );
        });
      });